
@define-color fg #999999;
@define-color bg rgba(0,0,0,0);
@define-color bordercolor #333333;
@define-color disabled #A5A5A5;
@define-color alert #F53C3C;
@define-color activegreen #26A65B;
@define-color highlight #F2C187;

* {
min-height: 0;
font-family: sans-serif;
font-size: 10px;
}

window#waybar {
color: @fg;
background: @bg;
transition-property: background-color;
transition-duration: 0.5s;
}

window#waybar.empty {
opacity: 0.3;
}

button {
/* Use box-shadow instead of border so the text isn't offset */
/* Avoid rounded borders under each button name */
border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
background: inherit;
}

#workspaces button {
    color: @fg;
}

#workspaces button.urgent {
color: @alert;
}
#workspaces button.empty {
color: @disabled;
}

#workspaces button.active {
color: @highlight;
}

#clock,
#battery,
#cpu,
#bluetooth,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power,
#custom-notification,
#window,
#mpd {
color: @fg;
margin: 2px 2px 0px 8px;
}

#taskbar {
margin: 2px;
}

#taskbar button {
margin: 0px 0px 0px 2px;
padding: 0px 0px;
}

#custom-separator {
color: @bordercolor;
}

#custom-power {
color: @bordercolor;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
color: @alert;
}

#battery.charging,
#battery.plugged {
color: @activegreen;
}

label:focus {
background-color: @bg;
}

#battery.critical:not(.charging) {
background-color: @alert;
color: @fg;
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}
